<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% if page.title %}{{page.title}}{% else %}U9H{% endif %}</title>
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
</head>

<body>
    <nav class="w-100">
        <div class="pa3 w-100 mw8 center flex justify-between">
            <a href="/">
                <img src="/media/logo-dark.png" class="db" />
            </a>
            <div class="flex">
                {% for item in config.extra.menu %}
                <a href="{{ item.url }}" class="db gold no-underline f4 mh4 mv3 ">
                    {{ item.name }}
                </a>
                {% endfor %}
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>

</html>