{% extends "master.html" %}
{% import "macros.html" as m %}
{% block content %}
<div class="flex flex-row-l flex-column-reverse w-100 pa3 pa4-l center mw8-m mw9-l near-black lh-copy overflow-x-hidden">
    <div class="w-75-l w-100-m overflow-hide pr4-l">
        {% if page.extra.cover %}
            {{ m::article_heading(title=page.title, background=page.extra.cover) }}
        {% else %}
            {{ m::article_heading(title=page.title) }}
        {% endif %} 
        <div class="f3-l f4-m f5">
            <article>{{ page.content | safe }}</article>
        </div>
    </div>
    <div class="w-25-l w-100-m f3-l f4-m f5">

        {# Show and link to all authors #}
        {% if page.taxonomies.authors %}
            <p>
                Author{{ page.taxonomies.authors | length | pluralize }}: 
                {% for author in page.taxonomies.authors %}
                    <a href='{{ get_taxonomy_url(kind="authors", name=author) }}'>
                        {{ author }}{% if loop.index != page.taxonomies.authors | length %}, {% endif %}
                    </a>
                {% endfor %}
            </p>
        {% endif %}

        {# Show and link to all categories #}
        {% if page.taxonomies.categories %}
            <p>
                Category{{ page.taxonomies.categories | length | pluralize }}: 
                {% for category in page.taxonomies.categories %}
                    <a href='{{ get_taxonomy_url(kind="categories", name=category) }}'>
                        {{ category | capitalize }}{% if loop.index != page.taxonomies.categories | length %}, {% endif %}
                    </a>
                {% endfor %}
            </p>
        {% endif %}

        {# Reading Time #}
        <p>
            Reading Time:
            {# We always get minutes back, so do some calculation for over 1 hour posts #}
            {% if page.reading_time >= 60 %}
                {% set hours = page.reading_time / 60 | round(precision=1) %}
                {{ hours }} Hour{{hours | pluralize}}
            {% else %}
                {{ page.reading_time }} Minute{{page.reading_time | pluralize}}
            {% endif %}
        </p>
    </div>
</div>
{% endblock content %}